@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.ContactBar {
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 1px transparent, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.35);
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
  max-width: 80px;
  min-height: 80px;

  &:hover {
    transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
    box-shadow: 1px 1px 0 1px transparent, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.35);
  }
}

.papersize {
  max-width: 32vh;
  max-height: 82vh;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.fab-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fab {
  width: 60px;
  height: 60px;
  background-color: #007bff;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 30px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
  transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 rgba(0,0,0,0.2);
}

.fab-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fab-options li {
  margin-bottom: 10px;
}

.fab-label {
  color: #333;
  background-color: white;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 14px;
  display: none;
}

.fab-icon-holder {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #333;
  font-size: 20px;
}


.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.papersize {
  height: 60vh;
}
/* เพิ่มสไตล์ที่เหมาะสมตามความต้องการของคุณ */

